{% if __SELF__.records|length > 0 %}
    {% for record in __SELF__.records %}
        <li class="col-1 xl-3-12 md-4-12 s-1-2">
            <div class="image">
                <a href="#"><img src="{{ record.image.thumb(320, auto) }}" alt="image1"></a>
            </div>
            <div class="desc">
                <span>{{ record.tags }}</span>
                <h3><a href="#">{{ record.name }}</a></h3>
                <a href="tel:{{ record.phone }}" class="tel">{{ record.phone }}</a>
                <div class="address">{{ record.address }}</div>
            </div>
        </li>
    {% endfor %}
{% else %}
    <div>No records</div>
{% endif %}