.tables-arranger {
    position: relative;
    border: 2px solid black;
}

.tables-arranger-table {
    position: absolute;
	padding: 5px;
	border: 1px solid #DDD;
	font-size: 12px;
	cursor: pointer;
	background: #FFF;
}