#workspace {
    height: 100%;
    width: 100%;
}

.placement-container {
    margin: 2em;
}

.placement-toolbar > input {
    width: 64px;
}

.table-container {
    position: absolute !important;
}

.placement {
    position: relative;
    border: 2px solid black;
}

.table {
    border: 1px solid red;
}